 <app-header
  [header]="header"
  (isNavigateBack)="navigateBack($event)"
>
</app-header>

<ion-content [fullscreen]="true" class="ion-content-body">

  <!-- <ion-list></ion-list> -->
  <ion-item *ngFor="let item of itemsList" lines="full">
    <ion-label>
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column">
          <h2>{{ item.itemName }}</h2>
          <ion-note>{{ item.itemContext }}</ion-note>
        </div>
        <div>
          <h2>{{ item.itemPrice }}</h2>
        </div>
      </div>
    </ion-label>
  </ion-item>

</ion-content>
