.ion-page{
  .app-header{
    /*Default color settings*/
    --ion-toolbar-background: #0e4699;
    --ion-text-color: #ffffff;

    /*Dark theme settings*/
    @media (prefers-color-scheme: dark) {
      --ion-toolbar-background: #5260ff;
      --ion-text-color: #ffffff;
    }
    // @media (prefers-color-scheme: light) {
    //   --ion-toolbar-background: #0e4699;
    //   --ion-text-color: #ffffff;
    // }
    .app-title{
      color: #ffffff;
      font-size: 23px;
    }
  }
}


.router-outlet {
  margin-top: 50px;
}
