<div class="ion-page" id="main-content" #appHeader>
  <ion-header [translucent]="true" class="app-header ion-no-border">
    <ion-toolbar class="app-header-toolbar">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-row class="ion-justify-content-start" style="margin-left: -10px;">
              <ion-buttons class="ion-activatable ripple-parent circle">
                <ion-menu-button></ion-menu-button>
                <ion-ripple-effect type="unbounded" class="white-ripple"></ion-ripple-effect>
              </ion-buttons>
            </ion-row>
          </ion-col>
          <ion-col size="9">
            <ion-title>
              <!-- <span style="color:rgb(33, 33, 168); font-weight: 700; font-size: 24px;">GetMe</span>
              <span style="color:orange; font-weight: 700; font-size: 24px;">Hub</span> -->
              <span class="app-title">GetMe Hub</span>
            </ion-title>
          </ion-col>
          <ion-col size="2">
            <ion-row class="ion-justify-content-center">
              <div class="ion-activatable ripple-parent circle">
                <ion-icon name="notifications-outline" style="width: 24px; height:24px;" (click)="openNotification()"></ion-icon>
                <ion-ripple-effect type="unbounded" class="white-ripple"></ion-ripple-effect>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet class="router-outlet"></ion-router-outlet>
</div>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
