<ion-tabs class="tab-navigation">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-shops">
      <i class="fa-solid fa-shop"></i>
      <ion-label class="mt-1">My Shops</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse-shops">

      <i class="fa-solid fa-cart-shopping"></i>
      <ion-label class="mt-1">Browse Shops</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offer-promos">
      <i class="fa-solid fa-tag"></i>
      <ion-label class="mt-1">Offer Promos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
