// .app-header {
//   height: 20px;
//   .app-header-toolbar{
//     // background-color: burlywood;
//   }
// }

.tab-navigation {
  .fa-shop{
    transform: scale(1.35);
  }

  .fa-cart-shopping{
    transform: scale(1.35);
  }

  .fa-tag {
    transform: scale(1.35);
  }
}
