<ion-app>
  <!-- <div class="ion-page" id="main-content"> -->
  <ion-header [translucent]="true" class="app-header" #appHeader>
      <ion-toolbar class="app-header-toolbar">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <!-- <ion-icon name="menu" style="width: 35px; height: 30px;" (click)="openMenu()"></ion-icon> -->

              <!-- <div id="main-content">
                <ion-buttons>
                  <ion-menu-button></ion-menu-button>
                </ion-buttons>
              </div> -->
              <p>menu</p>
            </ion-col>
            <ion-col>
              <ion-title>Get Me</ion-title>
            </ion-col>
            <ion-col>
              <ion-icon name="notifications-circle" style="width: 35px; height: 30px;"></ion-icon>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
<!-- </div> -->

  <ion-router-outlet class="router-outlet"></ion-router-outlet>
</ion-app>

<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div> -->
