.notification{
  .notification-header{
    .back-action {
      justify-content: center;
      display: flex;
      .arrow-back{
        transform: scale(1.35);
      }
    }
  }
}

:host .ion-items {
  border-radius: 12px;
  margin: 10px;
  @media(prefers-color-scheme: light){
    // --ion-item-background: #ecf0ff;
    // --ion-item-background: #E8EAF6;     // indigo
    --ion-item-background: #ffffff;      // gray setpper - 100

    border: var(--light-border-color)
  }

  @media(prefers-color-scheme: dark){
    --ion-item-background: var(--custom-item-background);
  }
}

:host .ion-label{
  @media(prefers-color-scheme: light){
    .notification-title{
      font-size: 16px;
      color: var(--ion-text-background);
    }
    .notification-context {
      font-size: 11px;
      color: var(--grey-color-text);
    }
  }

  @media(prefers-color-scheme: dark){
    .notification-title{
      font-size: 16px;
    }
    .notification-context{
      font-size: 11px;
      font-weight: 300;
    }
  }
}


:host .ion-content{
  // --ion-background-color: var(--light-grey-bg-color);
  --ion-background-color:var(--ion-color-light);
  // height: auto;

  @media(prefers-color-scheme: dark){
    --ion-background-color: #121212;
  }
}

:host .thumbnails {
  width: 20px;
  height: 30px;

  // .notification-icons {
  //   // transform: scale(1.35);
  // }
}


:host .skeleton-thumbnail {
  border-radius: 50%;
}

:host .skeleton-text {
  line-height: 12px;
  --border-radius: 10px;
  margin-top:10px;
  // background-color: var(--ion-background-color);
}
